/Serial/*.sdf
/Serial/*.suo
/Serial/*.opensdf
/Serial/_Intermediate
/Serial/_Output
/Serial/ipch
/_Output/Release/*.map
/Serial/SerialTestMFC/*.aps
/Serial/SerialTestMFCDialog/*.sdf
/Serial/SerialTestMFCDialog/*.suo
/Serial/SerialTestMFCDialog/*.aps
/Serial/SerialTestMFCDialog/Release
/Serial/SerialTestMFCDialog/Debug
/Serial/SerialTestMFCDialog/Debug Unicode
